@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

/*
* General configuration
*/

button {
	background: transparent;
	border: none;
	box-shadow: none;
	outline: none;
}

/*
* Specific configuration - Mainbar
*/
.mainbar{
	backface-visibility: hidden;
	width: 100%;
	background: #FFF;
	position: fixed;
	padding: 8px 16px;
	top: 0;
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
}

.mainbar__content{
	display: flex;
	justify-content: space-around;
	margin:  0 auto;
	width: 100%;
}


.mainbar__logo{
	display: inline-block;
	height: 40px;
}

.mainbar__logo img{
	height: 100%;

}
@media screen and (min-width: 728px) {
	.container {
		width: 728px;
	}
}

.mainbar__icon{
	font-size: 1.2rem;
}

